!!! 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
//[if gt IE 8]><!
html(class='no-js')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    title

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')

    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/main.css')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css({.tmp,app}) styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='bower_components/modernizr/modernizr.js')
    // endbuild
  body
    //if lt IE 7
      p.chromeframe.
        You are using an <strong>outdated</strong> browser.
        Please <a href="http://browsehappy.com/">upgrade your browser</a> or
        <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>
        to improve your experience.

    p Hello world! This is HTML5 Boilerplate.
    #header
      select#production
        option ドキドキ！プリキュア
        option スイートプリキュア♪
        option スマイルプリキュア
      br
      select#version
        option #03
        option #02
        option #01
      button#change 変更
    #main
      .item
        div
          span
            input.haveOne(type='checkbox')
          span 01
          span.name xxxx
          span.detailOpener ▶
        .detail(style='display: none')
      .item
        div
          span
            input.haveOne(type='checkbox')
          span 02
          span.name xxxx
          span.detailOpener ▼
        .detail
          table
            tr
              td 複数所持
              td
                input.haveMany(type='checkbox')
                select.numberOf
                  option 2
                  option 3
            tr
              td レアリティ
              td ☆☆☆
            tr
              td キャラクター
              td ああああ
          a(href='http://precure-live.com/allstars/') 公式サイトの情報を見る

    script
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));

    // build:js scripts/main.js
    script(src='bower_components/jquery/jquery.js'
    // endbuild

    // build:js(.tmp) scripts/coffee.js
    script(src='scripts/main.js'
    // endbuild
